@model EntityLayer.Concrete.New
@{
    ViewData["Title"] = "NewDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <p class="card-description">Deneyim Güncelleme Paneli</p>
            <form class="forms-sample">
                @Html.HiddenFor(x => x.NewID, new { @class = "form-control" })
                <div class="form-group">
                    <label>Başlık</label>
                    @Model.Title
                </div>
                <div class="form-group">
                    <label>İçerik</label>
                    @Model.Description
                </div>
                <div class="form-group">
                    <label>Görsel URL</label>
                    <img src="@Model.ImageURL" width="100" height="100" />
                </div> 
                <div class="form-group">
                    @Model.CategoryID
                </div>
                <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
                <button class="btn btn-dark">İptal</button>
            </form>
        </div>
    </div>
</div>
